#chris {
  display: none;
}
#hike{
  display: none;
}
#nightclub{
  display: none;
}
#movies{
  display: none;
}

#sarah {
  display: none;
}

#camping{
  display: none;
}

#bars{
  display: none;
}
#horse{
  display: none;
}
